<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
	    <meta name="description" content="{{ page.description }}"> 
    {% endif %}
    {% if page.robots %}
	    <meta name="robots" content="{{ page.robots }}">
    {% endif %}
    {% if page.author %}
	    <meta name="author" content="{{ page.author }}"> 
    {% endif %}
	
	{% if assets.css %}
		<link href="{{ assets.css }}" type="text/css" rel="stylesheet">
	{% endif %}
    
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        
  </head>

  <body class="cr">
	<header>
    {% block nav %}
	{% if pages %}
		<nav class="cr__nav">
			<ul class="cr__nav__list">
			{% for page in pages if page.config.menu == "true" %}
				<li class="cr__nav__list__item"><a href="{{ page.url }}">{{ page.config.title }}</a></li>
			{% endfor %}
			</ul>
		</nav>
	{% endif %}
	{% endblock %}
	{% block logo %}
		<div>
			<h1>{{ site.title }}</h1>
		</div>
	{% endblock %}
	</header>
	
    {% block content %}
    <section>
        {{ blocks.content }}
    </section> <!-- /container -->
    {% endblock %}
	
	{% block footer %}
	<footer></footer>
	{% endblock %}
	
	{% if assets.js %}
		<script src="{{ assets.js }}">
	{% endif %}
    
  </body>
</html>
