<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
	    <meta name="description" content="{{ page.description }}"> 
    {% endif %}
    {% if page.robots %}
	    <meta name="robots" content="{{ page.robots }}">
    {% endif %}
    {% if page.author %}
	    <meta name="author" content="{{ page.author }}"> 
    {% endif %}
    
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}</title>
    {% block head %}
    {%- spaceless -%}
    <link href="{{- css_prefix -}}
                {{- theme_path -}}/css/style.css
                {%- if css is not empty -%}
                {%- spaceless -%}
                    ,{{- css -}}
                {%- endspaceless -%}
                {%- endif -%}" rel="stylesheet">
    {%- endspaceless -%}
    {% endblock %}
    
  </head>

  <body>
  
	{% block navigation %}
		<nav>
			{% if pages is not empty %}
				<ul>
					{% for page in pages %}
						{% if page.headers.menu == true %}
							<li><a href="{{ page.url }}">{{ page.headers.title }}</a></li>
						{% endif %}
					{% endfor %}
				<ul>
			{% endif %}
		</nav>
	{% endblock %}
    
    {% block content %}
    <div>
        {{ content }}
    </div> <!-- /container -->
    {% endblock %}

    {% block footer %}
    {%- spaceless -%}
    <script src="{{- js_prefix -}}
                 {%- if js is not empty -%}
                 {%- spaceless -%}
                    ,{{- js -}}
                 {%- endspaceless -%}
                 {%- endif -%}"></script>
    {%- endspaceless -%}
    {% endblock %}
    
  </body>
</html>
