<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
	    <meta name="description" content="{{ page.description }}"> 
    {% endif %}
    {% if page.robots %}
	    <meta name="robots" content="{{ page.robots }}">
    {% endif %}
    {% if page.author %}
	    <meta name="author" content="{{ page.author }}"> 
    {% endif %}
	
	{% if assets.css %}
	    {% for stylesheet in assets.css %}
		    <link href="{{ stylesheet|e }}" type="text/css" rel="stylesheet">
		{% endfor %}
	{% endif %}
    
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        
  </head>

  <body>
  <div id="crisp" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
	    <header class="header">
	        {% block logo %}
		        <h1 class="header__brand__title">{{ site.title }}</h1>
                <h2 class="header__brand__tagline">{{ site.subtitle }}</h2>
	        {% endblock %}
	
	        {% block nav %}
	        {% if pages %}
                <nav class="nav">
                    <ul class="nav__list">
                    {% for page in pages if page.config.menu == "true" %}
                        <li class="nav__list__item">
                            <a class="pure-button nav__list__item__a" href="{{ page.url }}">{{ page.config.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
	        {% endif %}
	        {% endblock %}
	    </header>
	</div>
	
	<div class="content pure-u-1 pure-u-md-3-4">
    {% block content %}
    
        {{ blocks.content }}
    
    {% endblock %}
    </div>
    
    </div>
	
	{% block footer %}
        <footer class="footer">
            <div class="pure-menu pure-menu-horizontal pure-menu-open">
                <ul>
                    {% for page in pages if page.config.menu == "true" %}
                        <li><a href="{{ page.url }}" class="footer__link">{{ page.config.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </footer>
	{% endblock %}
	
	{% if assets.js %}
        {% for scriptfile in assets.js %}
		    <script src="{{ scriptfile|e }}"></script>
		{% endfor %}
	{% endif %}
    
  </body>
</html>
