{% extends "base.html" %}

{% block content %}

	<section>{{ blocks.content }}</section>    
    
    <!-- A wrapper for all the blog posts -->
    <div class="posts">
        {% for post in children|reverse if post.config.date and post.config.type == 'blog-post' %}
            <h1 class="content__subhead">{{ post.config.date }}</h1>

            <!-- A single blog post -->
            <section class="post">
                <header class="post__header">
                    <a href="{{ post.url }}"><h2 class="post__title">{{ post.config.title }}</h2></a>

                    <p class="post__meta">
                    {% if post.config.author %}By {{ post.config.author }}{% endif %}
                    </p>
                </header>

                <div class="post__description">
                    <p>
                    {{ post.config.excerpt }}
                    </p>
                </div>
            </section>
        </div>   
    {% endfor %}     
    </div>
    
{% endblock %}


